.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
a{
    padding:1rem 1rem;
    margin:1rem;
    color:white;
    background-color:rgb(209, 108, 61);
    border:none;
    border-radius: 10px;
    text-decoration:none;
}
.question{
  
}
.choice{
    padding:1rem;
    background-color: skyblue;
    width: 70%;
    color:white;
    text-align: center;
    border:none;
    cursor: pointer;
    border-radius: 10px;
}
.correct{
    background-color: green;
    
}
.incorrect{
    background-color: red;
}