*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    margin:auto
}

.converter{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.output{
    margin:1rem;
    width:100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 10%;
}
h1{
    color: #5fbaa7;
}
select{
    padding:0.3rem 0;
}
input{
    padding:0.3rem 0;
    text-align: right;

}
button{
    padding:0.7rem;
    border:none;
    background-color: #5fbaa7;
    color:white;
    border-radius: 5px;

}