*{
    margin:0;
    padding:0;
}
body{
    background-color: #34495e;
    color:white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin:2rem;
}
input{
    padding:0.5rem 0.2rem;
    border-radius:5px;
    border:none;
    outline:none;
}
button{
    padding:0.5rem 0.5rem;
    border-radius:5px;
    border:none;
    outline:none;
    cursor: pointer;
}
.wrapper{
    margin:1rem;
}
#meals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
    
}
.meal-info{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0,0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:opacity 0.2s ease-in;
    opacity: 0;
}
.meal-info:hover{
    opacity: 1;


}
.meal{
    position: relative;
    height: 180px;
    width: 180px;
}
.meal img{
    width: 100%;
    border-radius: 5px;
}
.single-meal {
width: 60%;
margin:auto;
}
.single-meal img {
    width: 250px;
    margin:auto;
    margin-bottom: 1rem;
}
.single-meal-info {
    width: 60%;
    margin:auto;
    padding:1rem;
    border:1px dashed red;
}



.single-meal .main > p{
    padding:1rem 0;
    text-align: justify;
}
ul li{
    list-style-type: none;
    padding:0.2rem 0
}
ul{
    margin:0.5rem;
}
h2{
    padding:0.5rem 0;
}